css-html-js-minify==2.5.5
docutils==0.16
Flask==1.1.2
gitdb==4.0.5
GitPython==3.1.13
Jinja2==2.11.2
livereload==2.6.3
lxml==4.6.2
MarkupSafe==1.1.1
packaging==20.4
py-buzz==2.0.0
Pygments==2.6.1
pyparsing==2.4.7
python-slugify==4.0.1
Sphinx==3.2.1
sphinx-autobuild==2020.9.1
sphinx-copybutton==0.3.1
sphinx-gitstamp==0.3.1
sphinx-material==0.0.32
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-contentui==0.2.5
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-srclinks==0.2.4
